.fixed-footer{
	width: 100%;
	position: fixed;       
	background: #333;
	padding: 20px 0;
	color: #fff;
}
.container{
	width: 80%;
	margin: 0 auto; /* Center the DIV horizontally */
}

.fixed-footer{
	bottom: 0;
}    
